<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: header">

</head>
<body>
<div class="row">
    <div class="col-md-2">
        <ul th:replace="fragment :: nav"></ul>
    </div>

    <div class="col-md-10">
        <div class="container">
            <h1>Manage Category</h1>
            <div th:if="${size == 0}">
                <p>No category</p>
            </div>

            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addModal"
                    data-bs-whatever="@mdo">Add category
            </button>

            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}"></p>
            </div>

            <div th:if="${fail}" class="text-center alert alert-danger">
                <p th:text="${fail}"></p>
            </div>

            <!-- Begin Add Modal -->
            <form th:action="@{/add-category}" method="POST" th:object="${categoryNew}" class="mb-3">
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addModalLabel">New Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" th:field="*{name}">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Add Modal -->

            <!-- Begin Update Modal -->
            <div class="updateForm">
                <form th:action="@{/update-category}" method="POST" class="mb-3"
                      th:object="${categoryUpdate}">
                    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updateModalLabel">Update Category</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <!--                                        <input type="hidden" th:field="*{id}">-->
                                        <!--                                        <label class="col-form-label">Name:</label>-->
                                        <!--                                        <input type="text" class="form-control" th:field="*{name}">-->
                                        <input type="text" id="categoryName" name="categoryName" class="form-control"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Update Modal -->

            <table class="table table-bordered table-striped" th:if="${size > 0}">
                <thead class="table-dark">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Edit Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{/updateCategoryForm(categoryId=${category.id})}"
                           class="btn btn-primary btn-sm mb-3">
                            Update
                        </a>
                    </td>
                    <td>
                        <a th:if="${category.isActivated == true}"
                           th:href="@{/deleteCategory(categoryId=${category.id})}"
                           class="btn btn-danger btn-sm mb-3"
                           onclick="if (!(confirm('Are you sure to delete this category ?'))) return false">
                            Delete
                        </a>
                        <a th:if="${category.isDeleted == true}" th:href="@{/enableCategory(categoryId=${category.id})}"
                           class="btn btn-warning btn-sm mb-3">
                            Enable
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragment :: script"></div>

</body>
</html>