<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: header">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul th:replace="fragment :: nav"></ul>
        </div>

        <div class="col-md-8">
            <h1>Manage Category</h1>
            <div th:if="${size == 0}">
                <p>No category</p>
            </div>

            <!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add category</button>-->

            <form th:action="@{/add-category}" method="POST" th:object="${categoryNew}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">New Category</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>

            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}"></p>
            </div>

            <div th:if="${fail}" class="text-center alert alert-danger">
                <p th:text="${fail}"></p>
            </div>

            <script>
                const myModal = new bootstrap.Modal(document.getElementById('myModal'), options);
            </script>

            <!-- Begin Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Send message</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->

            <table class="table table-bordered table-striped" th:if="${size > 0}">
                <thead class="table-dark">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Edit Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{/updateCategoryForm(categoryId=${category.id})}"
                           class="btn btn-primary btn-sm mb-3">
                            Update
                        </a>
                    </td>
                    <td>
                        <a th:if="${category.isActivated == true}" th:href="@{/deleteCategory(categoryId=${category.id})}"
                           class="btn btn-danger btn-sm mb-3" onclick="if (!(confirm('Are you sure to delete this category ?'))) return false">
                            Delete
                        </a>
                        <a th:if="${category.isDeleted == true}" th:href="@{/enableCategory(categoryId=${category.id})}"
                           class="btn btn-warning btn-sm mb-3">
                            Enable
                        </a>
                    </td>
                </tr>
                <!--        <tr th:each="book : ${books}">-->
                <!--            <td th:text="${book.title}"></td>-->
                <!--            <td th:text="${book.isbn}"></td>-->
                <!--            <td th:text="${book.language.name}"></td>-->
                <!--            <td th:text="${book.numPage}"></td>-->
                <!--            <td th:text="${book.publicationDate}"></td>-->
                <!--            <td th:text="${book.author}"></td>-->
                <!--            <td>-->
                <!--                <a th:href="@{/books/showFormForUpdate(bookId=${book.id})}"-->
                <!--                   class="btn btn-primary btn-sm mb-3">-->
                <!--                    Update-->
                <!--                </a>-->

                <!--                <a th:href="@{/books/delete(bookId=${book.id})}"-->
                <!--                   class="btn btn-danger btn-sm mb-3"-->
                <!--                   onclick="if (!(confirm('Are you sure to delete this book ?'))) return false">-->
                <!--                    Delete-->
                <!--                </a>-->
                <!--            </td>-->
                <!--        </tr>-->
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>