<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: header">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul th:replace="fragment :: nav"></ul>
        </div>

        <div class="col-md-8">
            <h1>Manage Product</h1>
            <div th:if="${size == 0}">
                <p>No products</p>
            </div>

<!--            <a th:href="@{/productAddForm}"-->
<!--               class="btn btn-primary btn-sm mb-3">-->
<!--                Add product-->
<!--            </a>-->

            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addModal"
                    data-bs-whatever="@mdo">Add product
            </button>

            <!-- Begin Add Modal -->
            <form th:action="@{/add-product}" method="POST" enctype="multipart/form-data"  class="mb-3" th:object="${product}">
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addModalLabel">New Product</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label class="col-form-label">Name:</label>
                                        <input type="text" class="form-control" th:field="*{name}" name="name">
                                    </div>
                                    <div class="mb-3">
                                        <select class="form-select" aria-label="Category" name="categories" th:field="*{category}">
                                            <option th:each="category : ${categories}"
                                                    th:value="${category.id}"
                                                    th:text="${category.name}"
                                            ></option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}" name="description">
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">Quantity:</label>
                                        <input type="text" class="form-control" th:field="*{currentQuantity}" name="quantity">
                                    </div>
                                    <div class="mb-3">
                                        <label class="col-form-label">Price:</label>
                                        <input type="text" class="form-control" th:field="*{costPrice}" name="price">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Image</label>
                                        <input type="file" name="file" accept="image/png, image/jpeg"/>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Add Modal -->

            <form th:action="@{/search-result/0}" enctype="multipart/form-data" method="GET" class="mb-3">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input type="text" name="keyword" placeholder="What do you want to search ?" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </form>

            <div th:if="${success}" class="text-center alert alert-success">
                <p th:text="${success}"></p>
            </div>

            <div th:if="${fail}" class="text-center alert alert-danger">
                <p th:text="${fail}"></p>
            </div>

            <table class="table table-bordered table-striped" th:if="${size > 0}">
                <thead class="table-dark">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.costPrice}"></td>
                    <td th:text="${product.currentQuantity}"></td>
                    <td>
                        <img th:src="@{/image-product/{fileName}(fileName=${product.image})}"
                             style="height: 40px; width: 40px;"/>
                    </td>
                    <td>
                        <a th:href="@{/updateProductForm(productId=${product.id})}"
                           class="btn btn-primary btn-sm mb-3">
                            Update
                        </a>
                    </td>
                    <td>
                        <a th:if="${product.isActivated == true}" th:href="@{/deleteProduct(productId=${product.id})}"
                           class="btn btn-danger btn-sm mb-3"
                           onclick="if (!(confirm('Are you sure to delete this product ?'))) return false">
                            Delete
                        </a>
                        <a th:if="${product.isDeleted == true}" th:href="@{/enableProduct(productId=${product.id})}"
                           class="btn btn-warning btn-sm mb-3">
                            Enable
                        </a>
                    </td>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage != 0}">
                        <a th:href="@{'/products/' + ${currentPage - 1}}"
                           class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}"
                        th:class="${currentPage == i - 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{'/products/' + ${i - 1}}"
                           class="page-link" href="#"><span th:text="${i}"></span></a>
                    </li>
                    <li th:if="${currentPage + 1 != totalPages}"
                        class="page-item">
                        <a th:href="@{'/products/' + ${currentPage + 1}}"
                           class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="fragment :: script"></div>

</body>
</html>