<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: header"></head>

<body>

<div th:replace="fragment :: navigation"></div>

<div th:replace="fragment :: banner"></div>

<!-- Section-->
<div class="row">
    <p class="text-center fs-1 mt-5" >All products</p>
    <div class="col-md-8">
        <section class="py-4">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3">
                    <div class="col mb-5" th:each="product : ${products}">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top img-thumbnail"
                                 th:src="@{/image-product/{fileName}(fileName=${product.image})}" alt=""/>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder" th:text="${product.name}"></h5>
                                    <!-- Product price-->
                                    <p th:text="${product.costPrice}"></p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/product-detail(productId=${product.id})}">View
                                    options</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="py-4">
            <div class="container mt-5">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="category : ${categories}">
                        <a th:href="@{/product-category(categoryId=${category.id})}" th:text="${category.name}"></a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragment :: footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
